<style>

.podcast_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.podcast_grid > div {
  height: 230px;
}

</style>


<div class="podcast_grid"> 
<div>

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://open.spotify.com/embed/episode/0BmWQVdXd1nJwUJsTc4IYY?utm_source=generator&theme=0"></iframe>

</div>


<div>
  
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://open.spotify.com/embed/episode/5yVNYRcoeBNn8dAlMgc7fm?utm_source=generator&theme=0"></iframe>
  
</div>

<div>
  
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://open.spotify.com/embed/episode/3Ax1LEpjZzlgKvppXJ9g3M?utm_source=generator&theme=0"></iframe>
  
</div>



</div>
